.actorsDetailComponent {
  max-width: 100%;
  &_container {
    display: flex;
    max-width: 60%;
    margin: 0 auto;
    gap: 90px;
    .image {
      max-width: 300px;
      max-height: 300px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .info {
      max-width: 50%;
      display: flex;
      flex-direction: column;
      gap: 50px;
      .name {
        font-size: 100px;
        font-weight: 700;
      }
      .desc{
        max-width: 120%;
        width: 120%;
        font-weight: 300;
      }
    }
  }
}
