.filmsDetailComponent {
  max-width: 100vw;

  &_container {
    max-width: 100%;
    margin: 0 auto;

    .top {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      gap: 100px;
      &_up {
        display: flex;
        align-items: center;
        gap: 100px;
        justify-content: space-between;
        .title {
          font-size: 100px;
          width: 45%;
          h5 {
            line-height: 130px;
          }
        }
        .desc {
          p {
            width: 115%;
          }
          font-size: 20px;
          line-height: 39px;
          margin: 20px 0 0 20px;

          letter-spacing: 2px;
        }
      }
      &_down {
        display: flex;
        justify-content: space-between;
        .details {
          display: flex;
          gap: 30px;
        }
        span {
          font-weight: 700;
        }
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid black;
          width: 120px;
          height: 30px;
          background-color: inherit;
          border-radius: 20px;
        }
      }
    }
    .image {
      margin-top: 20px;
      max-width: 1450px;
      min-height: 800px;

      img {
        width: 105%;
        height: 100%;
        object-fit: cover;
      }
    }
    .allDetail {
      display: flex;
      width: 60%;
      margin: 70px auto;
      gap: 50px;
      .left {
        width: 320px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .director {
          display: flex;
          align-items: center;
          gap: 15px;
          img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
          }
          p {
            font-size: 24px;
            width: 10%;
            font-weight: 700;
            text-align: left;
          }
        }
        .line {
          width: 320px;
          border-bottom: 1px solid black;
        }
        .directorYears {
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
            font-weight: 700;
          }
        }
      }
    }
    .feedbackSection {
      display: flex;
      flex-direction: column;
      gap: 40px;
      .feedback {
        font-size: 28px;
        font-weight: 700;
        i {
          font-size: 16px;
        }
      }
      .rating {
        .stars {
          display: flex;
          gap: 5px;
          .str {
            font-size: 28px;
            cursor: pointer;
            transition: 300ms;
          }
        }
        input[type="radio"] {
          display: none;
        }
      }
      .commentSection {
        display: flex;
        flex-direction: column;
        gap: 20px;
        input {
          height: 100px;
          border-radius: 12px;
          border: 1px solid lightgray;
          outline: none;
          resize: horizontal;
          font-family: Georgia, "Times New Roman", Times, serif;
        }
        button {
          width: 100px;
          height: 40px;
          border-radius: 12px;
          background-color: inherit;
          border: 1px solid black;
          &:hover {
            background-color: black;
            color: white;
          }
        }
      }
      .publishedComments {
        width: 600px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .userComment {
          display: flex;
          align-items: center;
          padding: 10px 0;
          border: 1px solid lightgray;
          border-radius: 12px;
          background-color: rgb(242, 240, 240);
          .userSide {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
            }
            .userName {
              font-family: Cambria, Cochin, Georgia, Times, "Times New Roman",
                serif;
              font-size: 18px;
            }
          }
          .comment {
            padding-left: 30px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 14px;
            color: gray;
          }
        }
      }
    }
  }
}
