.oldFilmsCard {
  width: 480px;
  height: 750px;
  border: 1px solid black;
  padding: 40px 25px;
  &_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .top {
      display: flex;
      justify-content: space-between;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        width: 120px;
        height: 30px;
        background-color: inherit;
        border-radius: 20px;
      }
      .rate{
        i{
          color: orange;
          padding-right: 5px;
        }
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    }
    .image {
      width: 430px;
      height: 350px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .middle {
        display: flex;
        flex-direction: column;
        gap: 10px;
      .title {
        p {
          font-size: 32px;
          font-weight: 700;
        }
      }
    }
    .duration {
        padding-top: 20px;
      p {
        span {
          font-weight: 700;
        }
      }
    }
  }
}

@media  ( max-width: 575.98px) { 
  .oldFilmsCard {
    width: 300px;
    height: 750px;
    border: 1px solid black;
    padding: 40px 25px;
    &_container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .top {
        display: flex;
        justify-content: space-between;
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid black;
          width: 100px;
          height: 30px;
          background-color: inherit;
          border-radius: 20px;
        }
        .rate{
          i{
            color: orange;
            padding-right: 5px;
          }
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
      }
      .image {
        width: 250px;
        height: 350px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .middle {
          display: flex;
          flex-direction: column;
          gap: 10px;
        .title {
          p {
            font-size: 25px;
            font-weight: 700;
          }
        }
      }
      .duration {
          padding-top: 20px;
        p {
          span {
            font-weight: 700;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
   
}

@media (min-width: 768px) and (max-width: 991.98px) { 
   
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
   
}